<!DOCTYPE HTML>

<html lang="en">
    <head>
        <link href ="/css/bootstrap.css" rel="stylesheet">
        <link href ="/css.bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron" align='center'>
          <h1>T9 Predictive Texter</h1> 
        </div>
      </div>
      <div class='container'>
        <p> <ins>Hints:</ins> </p>
        <p>Click <b>clear</b> to empty the text box</p>
        <p>Click <b>space</b> to start a new word</p>
        <p>
      </div>
      <div>
        <form onsubmit="return false">
            <table class="keypad">
              <tr>
                  <td><button type='submit' class='btn btn-primary'>1</button></td>
                  <td><button onclick=enter('abc') class='btn btn-primary' name="number" value="abc">2<br/>abc</button></td>
                  <td><button onclick=enter('def') class='btn btn-primary' name="number" value="def">3<br/>def</button></td>
              </tr>
               
                <tr>
                  <td><button onclick=enter('ghi') class='btn btn-primary' name="number" value="ghi">4<br/>ghi</button></td>
                  <td><button onclick=enter('jkl') class='btn btn-primary' name="number" value="jkl">5<br/>jkl</button></td>
                  <td><button onclick=enter('mno') class='btn btn-primary' name="number" value="mno">6<br/>mno</button></td>
                </tr>
                
                <tr>
                  <td><button onclick=enter('pqrs') class='btn btn-primary' name="number" value="pqrs">7<br/>pqrs</button></td>
                  <td><button onclick=enter('tuv') class='btn btn-primary' name="number" value="tuv">8<br/>tuv</button></td>
                  <td><button onclick=enter('wxyz') class='btn btn-primary' name="number" value="wxyz">9<br/>wxyz</button></td>
                </tr>

                <tr>
                  <td><input type="hidden"></td>
                  <td><button onclick=enter('space') class='btn btn-primary' name="number"value="space">0<br/>space</button></td>
                  <td><button onclick=enter('clear') class='btn btn-primary' name="number"value="clear">clear</button></td>
            </table>
            
        </form>
        <div align='center'>
          <textarea id='input1' rows="4" col="50"></textarea>
        </div>
      </div>
      <div class="container" align='center'>
        <h2>Possible words:</h2>
        <div class="list-group" id="wordList">
          
            
        </div>
      </div>
    </body>
    <script type="text/javascript">
      var selectedWord = ''
      var currentWords = ''
      function enter(chars){
        var chars = chars;
        $.ajax({
          type : 'POST',
          url  : '/',
          dataType : 'json',
          async : true,
          data : {characters : chars },
          success:function(response){
            $('#wordList').empty();
            if (response.clear){
              $('#input1').empty();
              currentWords = '';
            }
            if (response.space)
              currentWords = currentWords + ' ' + selectedWord
            
            for (var key in response.words){              
              if (key.length == response.count){                
                if ($('#wordList').children()[0] == undefined){                 
                  button = "<a href='' class='list-group-item active' onclick='selectWord(this.id);return false;' id='"+ key + "'>" + key + "</a>"; 
                  selectedWord = key;
                }
                else
                  button = "<a href='' class='list-group-item' onclick='selectWord(this.id);return false;' id='"+ key + "'>" + key + "</a>";                 
                $('#wordList').append(button);
              }
            }
            $('#input1').text(currentWords + ' '+ $('#wordList').children(1)[0].text);
            
          },
          error:function(done){
            console.log(done)
          }
        });
      }

      function selectWord(id){
        $('#' + id).addClass('active');
        $('#' + selectedWord).removeClass('active');
        selectedWord = id;
        $('#input1').text(currentWords + ' '+ $('#' + id).text());
      }
    </script>
</html>



